* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.wrapper {
    width: 1200px;
    height: 1920px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}
.menu {
    width: 20%;
    height: 100%;
    display: flex;
    background-color: #31a9c4;
    padding: 10px 20px 0px;
    flex-flow: column;
}
.menu ul {
    position: sticky;
    top: 26px;
}
.menu li {
    margin-bottom: 20px;
    display: flex;
}
.menu a {
    text-decoration: none;
    font-size: small;
    text-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.2);
    width: 90%;
    height: 90%;
    text-align: center;
    color: #f1f1f1;
    padding: 5px 5px;
    border: 4px ridge #b8eaff;
    border-radius: 5px;
    background-image: linear-gradient(#298da3, #4dd2f0);
}
.menu a:hover {
    text-decoration: none;
    font-size: small;
    text-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.2);
    transform: scale(1.2);
    text-align: center;
    color: #f1f1f1;
    padding: 5px 5px;
    border: 4px ridge #b8eaff;
    border-radius: 5px;
    background-image: linear-gradient(#7be3fa, #298da3);
    box-shadow: 2px 2px 5px 5px rgb(0,0,0,0.2);
}
.header {
    background-color: #e3f7ff;
    position: sticky;
    top: 0;
    height: 7%;
    max-height: 134px;
    width: 100%;
}
.header img {
    width: 100%;
    height: 100%;
}
.content {
    display: inline-block;
    height: 78%;
    max-height: 1498px;
    font-size: large;
    background-color: #e3f7ff;
    color:#1f6c7e;
    min-height: 300px;
    padding: 40px 20px;
}
.content fieldset{
    background-image: url('/img/formsbg.png');   
}
.content-txt {
    margin-bottom: 50px;
}
.content-txt h2 {
    margin-left: 30px;
}
.content-txt p {
    text-indent: 30px;
}
.content-img img {
    width: 95%;
    margin: 50px 21px 120px 21px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.2);
}
.content-table {
    display: flex;
    justify-content: space-around;
}
.table-atend {
    justify-content: flex-end;
    margin: 17px 0 0 1px;
}
.table-atend caption {
    white-space: nowrap;
}
.table-atend tr {
    text-align: center;
}
.table-emerg {
    align-content: center;
    justify-content: flex-start;
}
.table-emerg caption {
    white-space: nowrap;
}
.table-emerg tr {
    text-align: center;
    height: 50%;
}
.footer {
    width: 100%;
    height: 15%;
    max-height: 288px;
    overflow: hidden;
    padding: 0 40px 2px 40px;
    background-color: #b8eaff;
    color: #31a9c4;
    font-size: x-small;
    margin: 0;
    box-sizing: border-box;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.footer-txt {
    width: 33%;
    line-height: 1.2;
    align-items: flex-start;
}
.footer-img {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img img {
    width: 60%;
    max-width: 120px;
    height: auto;
    margin: 0;
    display: block;
}
.footer-map {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
;.footer-map h2 {
    padding: 0;
    margin: 0;
    line-height: 0;
}
.footer-map iframe {
    transform: scale(0.95);
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.2);
    border-radius: 5px;
}
.footer-map iframe:hover {
    transform: scale(1);
    border-radius: 10px;
    box-shadow: 4px 4px 2px 2px rgb(0,0,0,0.2);
}
.footer-copy {
    text-align: center;
    margin: 20px 0 0 0;
}